* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-gray: #121212;
    --linen: #f3f3f3;
    --red: #ea3031;
}

body {
    font-family: 'Russo One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body, html {
    overflow-x: hidden;
}

h1 {font-size: 3rem;}
h3 {font-size: 1.2rem; font-weight: 300;}

/* HEADER */

header {
    height: auto;
    width: 100vw;
    background-color: #555;
    padding-top: 10px;
}

.header-container {
    width: 70%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-container img {
    height: 60px;
    width: 60px;
}

.contact-button {
    padding: 10px;
    background-color: var(--red);
    color: var(--linen);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.contact-button-container {
    display: flex;
    align-items: center;
}

/* LANDING SECTION */

.landing-section {
    height: 60vh;
    width: 100vw;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#252525), to(#555));
    background-image: linear-gradient(0deg, #252525, #555);
}

.landing-container {
    display: flex;
    align-items: center;
    color: var(--linen);   
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.landing-content {
    display: flex;
    flex-direction: column;
    width: 50%
}

span {
    color: var(--red);
}

/* Image Section */
.image, .container {
    margin: 0px;
    padding: 0px;
}

.twitter-header {
    height: auto;
    width: 100%;
}

/* PODCAST LINKS SECTION*/

.podcast-links-section {
    background-color: var(--linen);
    height: auto;
    padding: 20px 0 20px 0;
}

.podcast-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 10px;
    text-align: center;
}

.podcast-links-container h1 {
    font-weight: 400;
}

.link-container {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

.link-container img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

/* Socail Media Links Section */
.social-links-section {
    background-color: var(--dark-gray);
    height: auto;
    padding: 20px 0 20px 0;
}

.social-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 10px;
    text-align: center;
}

.social-links-container h1 {
    font-weight: 400;
    color: var(--linen);
}

/* Contact Section */

.contact-section {
    background-color: var(--linen);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    text-align: center;
}

.contact-form {
    margin-top: 20px;
    width: 50%;
}

#email-form {
    display: flex;
    flex-direction: column;
}

.field-label {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 0 10px 0;
    text-align: left;
}

.text-field {
    border: none;
    border-bottom: 2px solid #333333;
    background-color: var(--linen);
    height: 40px;
    border-radius: 0px;
}

.contact-button-2 {
    color: var(--linen);
    background-color: var(--dark-gray);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-appearance: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    .header-container {
        width: 90%;
        justify-content: space-between;
        
    }
    
    .landing-container {
        flex-direction: column;
        padding-top: 0px;
    }

    .landing-content {
        padding: 20px;
        width: 80%;
    }

    .landing-photo {
        padding: 20px;
    }

    .landing-photo img {
        height: 250px;
        width: 250px;
    }

    .podcast-links-section {
        height: auto;
        padding-bottom: 20px;
    }

    .link-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 0px;
    }

    .social-links-section {
        height: auto;
        padding-bottom: 20px;
    }

    .social-links-container {
        padding: 10px;
    }

    .contact-form{
        width: 75%;
    }
}
